<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Gestion du personnel</title>

</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
  <div class="row mt-5">
    <div class="col-6 mx-auto">
      <h1>Modification utilisateur</h1>
      <hr>

      <form action="#" th:action="@{/admin/update-user/{id}(id=${user.id})}"
            th:object="${user}" method="POST">
        <input type="text" th:field="*{firstname}" id="firstname" placeholder="Prénom" class="form-control mb-4 col-8">

        <input type="text" th:field="*{name}" id="name" placeholder="Nom" class="form-control mb-4 col-8">

        <input type="text" th:field="*{email}" id="email" placeholder="Email" class="form-control mb-4 col-8">

        <input type="text" th:field="*{phone}" id="phone" placeholder="Téléphone" class="form-control mb-4 col-8">

        <input type="text" th:field="*{address}" id="address" placeholder="Adresse" class="form-control mb-4 col-8">

        <label>Role</label>
        <select name="role" th:field="*{role}">
          <option th:value="EMPLOYEE" th:text="Employee"> </option>
          <option th:value="ADMIN" th:text="Admin"></option>
        </select><br><br>

        <button type="submit" class="btn btn-primary col-2"> Valider</button>
      </form>

      <hr>

      <a th:href="@{/admin/user-list}"> Retourner à la liste d'utilisateur</a>
    </div>
  </div>
</div>
</body>

</html>