<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <title>Gestion des commandes</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
  <div class="row mt-5">
    <div class="col-6 mx-auto">
      <h1>Modification commande</h1>
      <hr>

      <form action="#" th:action="@{/user/update-order/{id}(id=${order.id})}"
            th:object="${order}" method="POST">
        <input type="text" th:field="*{description}" id="description" placeholder="Description" class="form-control mb-4 col-8">

        <input type="hidden" th:field="*{customer}" class="form-control mb-4 col-8">

        <div class="mb-3">
          <label>Reservation</label>
          <select name="reservation" th:field="*{reservation}">
            <option th:value=true th:text="Oui"> </option>
            <option th:value=false th:text="Non"></option>
          </select>
        </div>

        <div class="mb-3">
          <label>Statut</label>
          <select name="role" th:field="*{status}">
            <option th:value="PROCESSING" th:text="Traitement"> </option>
            <option th:value="ENDED" th:text="Terminé"></option>
          </select>
        </div>

        <div class="form-group">
          <label for="products">Selectionner les produits</label>
          <select class="form-control selectpicker" th:field="*{products}" id="products" multiple>
            <option th:each="product : ${productList}"
                    th:value="${product.id}"
                    th:text="${product.name}">dip
            </option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary col-2"> Valider</button>
      </form>

      <hr>

      <a th:href="@{/user/order-list}"> Retourner à la liste des produits</a>
    </div>
  </div>
</div>
</body>

</html>