<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras /spring-security">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Gestion du personnel</title>
</head>

<body>
<div th:replace="~{fragments/header :: header}"></div>

<div class="container my-2">
  <h1 style="margin-bottom: 10px">Liste des utilisateurs</h1>
  <hr>
  <a th:href="@{/admin/show-add-user-form}" class="btn btn-primary mb-3"> Ajout utilisateur </a>

  <div class="mb-3">
    <form th:action="@{/admin/user-search}" method="get">
      <div style="display: flex;">
        <input type="search" id="keyword" name="keyword" th:value="${keyword}"
               placeholder="Nom ou prénom de l'utilisateur" aria-describedby="button-addon5"
               class="form-control col-4">
        <button id="button-addon5" type="submit" class="btn btn-primary">
           <i class="fa fa-search"> </i>
        </button>
      </div>
    </form>
  </div>

  <table border="1" class="table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Role</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${listUser}">
      <td th:text="${user.firstname}"></td>
      <td th:text="${user.name}"></td>
      <td th:text="${user.email}"></td>
      <td th:text="${user.role}"></td>
      <td> <a th:href="@{/admin/show-update-user-form/{id}(id=${user.id})}" class="btn btn-primary">Modifier</a>
        <a th:href="@{/admin/delete-user-by-id/{id}(id=${user.id})}" class="btn btn-danger" onclick="return confirm('Etes-vous sûr de vouloir supprimer l\'utilisateur séléctionné ?')">Supprimer</a>
      </td>
    </tr>
    </tbody>
  </table>

  <div th:if="${totalPages > 1}">
    <div class="row col-sm-10 nav nav-pills">
      <div class="col-sm-4">
        Total éléments: [[${totalItems}]]
      </div>

      <div class="col-sm-1">
        <a th:if="${currentPage > 0 }" th:href="@{user-list(page= 0)}">Premier</a>
        <span th:unless="${currentPage > 0}">Premier</span>
      </div>

      <div class="col-sm-1" style="margin-right: 50px">
        <a th:if="${currentPage > 0}" th:href="@{user-list(page= ${currentPage - 1})}">Précédent</a>
        <span th:unless="${currentPage > 0}">Précédent</span>
      </div>

      <div class="col-sm-2">
        <span th:each="i,pageSelected: ${#numbers.sequence(1, totalPages)}">
          <a th:if="${currentPage != i - 1}"
             th:href="@{user-list(page= ${i}-1)}">
            [[${i}]]
          </a>
<!--             th:class="${i==currentPage?'btn btn-primary':'' }"-->
          <span th:unless="${currentPage != (i - 1)}">[[${i}]]</span> &nbsp; &nbsp;
        </span>
      </div>
      <div class="col-sm-1">
        <a th:if="${currentPage < (totalPages - 1) }" th:href="@{user-list(page= ${currentPage + 1})}">Suivant</a>
        <span th:unless="${currentPage < (totalPages - 1)}">Suivant</span>
      </div>

      <div class="col-sm-1">
        <a th:if="${currentPage < (totalPages - 1)}" th:href="@{user-list(page= ${totalPages - 1})}">Dernier</a>
        <span th:unless="${currentPage < (totalPages -1)}">Dernier</span>
      </div>
    </div>
  </div>

</div>

<!--<div class="modal fade text-center" id="confirmModal">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title">Delete Confirmation</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->

<!--      <div class="modal-body">-->
<!--        <span id="confirmText"></span>-->
<!--      </div>-->

<!--      <div class="modal-footer">-->
<!--        <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>-->
<!--        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<script type="text/javascript">-->
<!--  $(document).ready(function () {-->
<!--    $(".btn-delete").on("click", function (e) {-->
<!--      e.preventDefault();-->
<!--      link = $(this);-->

<!--      user = link.attr("user");-->
<!--      $("#yesBtn").attr("href", link.attr("href"));-->
<!--      $("#confirmText").html("Do you want to delete the User \<strong\>" + user.name + "\<\/strong\>?");-->
<!--      $("#confirmModal").modal();-->
<!--    });-->

<!--    $("#btnClear").on("click", function (e) {-->
<!--      e.preventDefault();-->
<!--      $("#keyword").text("");-->
<!--      window.location = "[[@{/tutorials}]]";-->
<!--    });-->
<!--  });-->
<!--</script>-->
</body>

</html>